/*NavBar Style Starts Here*/
.navbar {
    height: 80px;  
}

.navbar-brand {
    height: 55px;
    border-radius: 20px;
}

@font-face {
    font-family: "timeout";
    src: url("fonts/DearType - TimeoutB-Regular.otf");
    font-style: italic;
    font-weight: 100;
}

#websitename {
    font-family: timeout;
    font-size: 40px;
    margin-bottom: 20px;
}

.nav-link {
    font-size: 25px;
}
/*NavBar Style Ends Here*/

/*DROPDOWN HOVER STARTS HERE*/

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu> a:after {
    float: right;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

/*DROPDOWN HOVER ENDS HERE*/
