/*CUSTOM FONTS START HERE*/

@font-face {
    font-family: "timeout";
    src: url("fonts/DearType - TimeoutB-Regular.otf");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "cabin";
    src: url("fonts/Cabin-Medium.otf");
    font-style: normal;
    font-weight: 100;
}

/*CUSTOM FONT ENDS HERE*/

/*NavBar Style Starts Here*/
.navbar {
    height: 80px;  
}

.navbar-brand {
    height: 55px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.nav-item {
    font-family: cabin;
}

#websitename {
    font-family: timeout;
    font-size: 40px;
    margin-bottom: 15px;
}

.nav-link {
    font-size: 25px;
}
/*NavBar Style Ends Here*/

/*DROPDOWN HOVER STARTS HERE*/

.dropdown:hover > .dropdown-menu {
    display: block;
}

/*takes our submenus out of the document flow*/
#navbar .dropdown-submenu {
    position: absolute;
}

/*float our subment to the right*/
#navbar .dropdown-submenu > a:after {
    float: right;
}

/*set our positioning accordingly for submenus*/
#navbar .dropdown-submenu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

/*DROPDOWN HOVER ENDS HERE*/
