.navbar {
    height: 80px;  
}

.navbar-brand {
    height: 55px;
    border-radius: 20px;
}

@font-face {
    font-family: "timeout";
    src: url("fonts/DearType - TimeoutB-Regular.otf");
    font-style: italic;
    font-weight: 100;
}

#websitename {
    font-family: timeout;
    font-size: 40px;
    margin-bottom: 20px;
}

.nav-link {
    font-size: 25px;
}

